@import "static/styles/fonts.css";
@import "static/styles/animations.css";
@import "static/styles/lazy-image.css";

:root {
  --main400: #4959FF;
  --secondary400: #F84AB3;
  --base0: #FCFCFC;
  --base50: #F3F4F6;
  --base200: #99A7B5;
  --base300: #677B8F;
  --base500: #012345;
  --base600: #011C37;
}

html[data-theme='light'] {
  --base-font-color: var(--base500);
  --background-color: var(--base0);
  --background-color-secondary: var(--base50);
}

html[data-theme='dark'] {
  --base-font-color: var(--base0);
  --background-color: var(--base500);
  --background-color-secondary: var(--base600);
}

html {
  background-color: var(--background-color);
  transition: background-color .3s ease;
}

body {
  margin: 0;
  font-family: 'CodecPro', sans-serif;
}

main {
  min-height: 100vh;
  height: 1px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: auto;
}
